# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
# 空行或是以#开头的行即注释行将被忽略；
# 以斜杠 “/” 结尾表示目录；
# 以星号 “*” 通配多个字符；
# 以问号 “?” 通配单个字符
# 以方括号 “[]” 包含单个字符的匹配列表；
# 以叹号 “!” 表示不忽略(跟踪)匹配到的文件或目录；
# 可以在前面添加斜杠 “/” 来避免递归,下面的例子中可以很明白的看出来与下一条的区别。

# 忽略 .a 文件
# *.a
# 但否定忽略 lib.a, 尽管已经在前面忽略了 .a 文件
# !lib.a
# 仅在当前目录下忽略 TODO 文件， 但不包括子目录下的 subdir/TODO
# /TODO
# 忽略 build/ 文件夹下的所有文件
# build/
# 忽略 doc/notes.txt, 不包括 doc/server/arch.txt
# doc/*.txt
# 忽略所有的 .pdf 文件 在 doc/ directory 下的
# doc/**/*.pdf
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
.mvn
